/*
*{
    margin: 0;
}
*/

/*div, header{
    background-color: aliceblue;
}*/

/*div p{
    background-color: aquamarine;
}*/

/*.simba p{
    background-color: aquamarine;
}*/

/*#head > p{
        background-color: #ccff00;
}*/

/*#head + p{
    background-color: blueviolet;
}*/

/*header ~ p{
    background-color: blueviolet;
}*/

/*[width]{
    background-color: bisque;
}*/

/*[width = "500px"]{
    background-color: bisque;
}*/

/*[title~="título"]{
    background-color: bisque;
}*/

/*[title^="t"]{
    background-color: bisque;
}*/

/*[title$="1"]{
    background-color: bisque;
}*/

[title*="u"]{
    background-color: bisque;
}