/*img{
    width: 500px;
    transform: rotate(-45deg);
}

img{
    width: 500px;
    transform: ;
}

*/

/*img{
    width: 500px;
    transform: scale(2);
}*/

/*img{
    width: 500px;
    transform:scale(2,4) ;
}*/

img{
    width: 500px;
    transform: skew(45deg);
}
