:root{
    --var_cor: orange;
    --var_margem: margin: 0;
}

.p2{
    color: var(--var_cor);
    font-size: 40px;
    margin: var(--var_margem);
}

.p3{
    color: var(--var_cor);
    font-size: 15px;
    margin: var(--var_margem);
}